[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/sih2023/scrapapp
ExecStart=/var/lib/jenkins/workspace/sih2023/env/bin/gunicorn --workers 3 --log-level debug --error-logfile /var/lib/jenkins/workspace/sih2023/error.log --bind unix:/run/gunicorn.sock scrapapp.wsgi:application

[Install]
WantedBy=multi-user.target


[Install]
WantedBy=multi-user.target